.action-window {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.3);
  background-color: #fff;
  overflow: hidden;
  &__item {
    display: flex;
    align-items: center;
    line-height: 0;
    cursor: pointer;
    list-style: none;
    padding: 10px;
    &:hover {
      background-color: $color-grey-light-2;
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-primary;
  }
  &__text {
    margin-left: 3px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000;
  }
}
